/.godot
addons/inkgd/editor/icons/compile.svg.import
addons/inkgd/editor/icons/compile.svg.import
addons/inkgd/editor/icons/ink_player.svg.import
icon.png.import
INK/Tutorial_example.ink.import
INK/Tutorial_example.json.import
Roboto-Regular.ttf.import
Sprites/bg01-hallway.jpg.import
Sprites/female_01_nervous.png.import
Sprites/female_01_neutral.png.import
Sprites/female_01_smile.png.import
Sprites/male_01_anger.png.import
Sprites/male_01_neutral.png.import
Sprites/male_01_smile.png.import
*.import
export/win/jekyll.pck
export/win/jekyll.exe
export/win/jekyll.console.exe
export/web/index.zip
export/web/index.wasm
export/web/index.side.wasm
export/web/index.png
export/web/index.pck
export/web/index.js
export/web/index.icon.png
export/web/index.html
export/web/index.audio.worklet.js
export/web/index.audio.position.worklet.js
export/web/index.apple-touch-icon.png
addons/inkgd/editor/icons/compile.svg.import
addons/inkgd/editor/icons/ink_player.svg.import
icon.png.import
