/.godot
addons/inkgd/editor/icons/compile.svg.import
addons/inkgd/editor/icons/compile.svg.import
addons/inkgd/editor/icons/ink_player.svg.import
icon.png.import
INK/Tutorial_example.ink.import
INK/Tutorial_example.json.import
Roboto-Regular.ttf.import
Sprites/bg01-hallway.jpg.import
Sprites/female_01_nervous.png.import
Sprites/female_01_neutral.png.import
Sprites/female_01_smile.png.import
Sprites/male_01_anger.png.import
Sprites/male_01_neutral.png.import
Sprites/male_01_smile.png.import
*.import
